*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    
    background: url('../img/backgroundlogin/back4.avif');
    background-size: cover;
    background-position: center;
}
.whoiam{
    position: relative;
    left: 38%;
    top: 100px;
    width: 100vw;
    height: 100vh;
    /* background-color: aliceblue; */
}
.whoiam h1{
    padding: 100px;
    position: relative;
    right: 180px;
    font-size: 70px;
}
.whoiam button{
    position: relative;
    
    margin: 10px;
}

#Userlogin{
    
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 16px 14px 18px;
    color: #616467;
    box-shadow: inset 0 0 0 2px #616467;
    background-color: transparent;
    height: 48px;
}
#Userlogin:hover{
    color: #fff;
    background-color: #616467;
}

#Adminlogin{
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 16px 14px 18px;
    color: #616467;
    box-shadow: inset 0 0 0 2px #616467;
    background-color: transparent;
    height: 48px;
}
#Adminlogin:hover{
    color: #fff;
    background-color: #616467;
}